.ahref {
    width: 150px;
    height: 50px;
    position: absolute;
    margin-top: -60px;
    margin-left: 91.5%;
    background-color: #F3F3F3;
    mix-blend-mode: none;
    z-index: 9999;
}

.spline {
    transform: translateY(100px);
}