.text-container {
    max-width: 1550px;
    margin: 0 auto;
    width: 100%;
    pointer-events: none;
    transform: translateY(-320px);
}

.body,
.mask {
    display: flex;
    align-items: start;
    justify-content: start;
    color: #000000;
    font-size: 27px;
    padding: 20px;
    /* transform: translateX(-650px); */
    cursor: default;
    pointer-events: none;
}
/* 
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height:300px;
    background-color: rgb(255, 0, 0);
    mask-image: url('../src/assets/Ellipse 1.svg');
    mask-repeat: no-repeat;
    mask-size: 40px;
} */

.line-child {
    display: block;
}

.body p {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.tt {
    display: inline-block;
    overflow: hidden;
}