.text-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: start;
}

.body,
.mask {
    color: #000000;
    font-size: 27px;
    padding: 20px;
    cursor: default;
    pointer-events: none;
    /* transform: translateY(-320px); */
}

.line-child {
    display: block;
}

.body p {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 2rem;
    transform: translate(20px, 120px);
}

.tt {
    display: inline-block;
    overflow: hidden;
}