.about__container {
    height: 500px;
    display: flex;
    align-items: center;
}

.about__container h1 {
    display: flex;
    line-height: 170px;
    flex-direction: column;
    font-size: 180px;
}

.about__span {
    height: 160px;
    overflow: hidden;
    display: block;
}