.about__container {
    height: 500px;
    display: flex;
    align-items: center;
}

.about__span_line {
    width: 0px;
    height: 135px;
    overflow: hidden;
    transform: translateX(8px);
    background-color: black;
}

.about__container h1 {
    display: flex;
    width: 1440px;
    line-height: 170px;
    font-size: 180px;
}

.about__container h1:nth-child(1) {
    display: flex;
    gap: 10px;
}

.about__span {
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.about-me-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    transform: translateY(20px);
}

.about-me-text p {
    width: 600px;
}

.about-me-text button {
    width: 600px;
    height: 200px;
    cursor: none;
    background-color: black;
    font-size: 70px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transform: translateY(120px);
    transition: all .2s ease-in-out;
}