.navigation {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9997;
    position: fixed;
    color: #ffffff;
    background-color: #000000;
}

.nav-text {
    height: 100vh;
}

.nav-text h1 {
    z-index: 9999;
    font-size: 130px;
}

.nav-text h1::selection {
    background-color: white;
    color: black;
}

.spline {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
}