.circular-text {
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    position: relative;
    height: 200px;
    color: #ffffff;
    height: 200px;
    cursor: none;
    background-color: rgb(21, 21, 21);
    scale: .8;
    -webkit-transform-origin: 50% 50%;
    transition: all .2s ease-in-out;
}

.circular-text:hover {
    scale: 1;
    cursor: none;
}

.spannn {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    font-weight: 400;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

.spannn p {
    font-size: 16px;
}

.rotate-arrow {
    font-size: 80px;
    position: absolute;
    left: 40px;
}