.header {
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-inner {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: end;
}

.header-logo h1 {
    font-size: 21px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.menu-lines {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 14px;
    position: relative;
    mix-blend-mode: difference;
}

.menu-lines::after, .menu-lines::before {
    content: '';
    width: 45px;
    height: 3px;
    display: block;
    mix-blend-mode: difference;
    background-color: black;
}

.menu-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    overflow: hidden;
}

.menu-text p,
.menu-text pre {
    font-size: 20px;
    font-weight: 500;
}

.menu-text p:nth-child(2) {
    width: 100%;
    position: absolute;
    left: 100%;
}

.bounds {
    width: 100px;
    height: 100px;
    left: -60%;
    top: -200%;
    position: absolute;
}

.bounds:hover {
    scale: 2;
}