.header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.header-inner {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: end;
}

.header-logo {
    width: 180px;
    mix-blend-mode: difference;
}

.header-logo h1 {
    font-size: 21px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.menu-lines {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 14px;
    position: relative;
    mix-blend-mode: difference;
}

.menu-lines::after,
.menu-lines::before {
    content: '';
    width: 45px;
    height: 3px;
    display: block;
    mix-blend-mode: difference;
    background-color: black;
}

.menu-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    overflow: hidden;
}

.menu-text p,
.menu-text pre {
    font-size: 20px;
    font-weight: 500;
}

.menu-text p:nth-child(2) {
    left: 100%;
    width: 100%;
    position: absolute;
}

.bounds {
    width: 100px;
    height: 90px;
    left: -60%;
    top: -200%;
    position: absolute;
}

.bounds:hover {
    scale: 2.2;
}

.logo-h1 {
    clip-path: polygon(0 0, 100% 1%, 100% 80%, 0 80%);
}

@media screen and (max-widht: 1800px) {
    .header-inner {
        max-width: 1800px;
    }
}