.works-container {
    height: 3000px;
    display: flex;
    align-items: center;
}

.works-title {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.works-title h1 {
    height: 295px;
    font-size: 300px;
    font-weight: 800;
}

.works-title h1::selection {
    background-color: #fff;
    color: black;
}

.works-title span {
    font-size: 100px;
}

.works-imgs img {
    width: 780px;
    z-index: -10;
}

.screw-l img {
    width: 580px;
}

.screw-img-container {
    width: 780px;
    height: 480px;
    overflow: hidden;
    display: flex;
    margin: 5px;
    gap: 14px;
    background-color: red;
    transform: translateY(100px);
    justify-content: center;
    flex-direction: column;
    clip-path: "M 10,50 L 90, 50 Z";
}

.hover-img-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.screw-l {
    margin-top: 200px;
    width: 580px;
    height: 420px;
    overflow: hidden;
    display: flex;
    gap: 14px;
    flex-direction: column;
    margin: 65px 65px 200px 65px;
    transform: translateY(200px);
    justify-content: center;
}

.project-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxx {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10rem;
    clip-path: path("M 10,50 L 90,50 A 10,10 0,0,0 100,40 L 100,10 A 10,10 0,0,1 110,0 L 190,0 A 10,10 0,0,1 200,10 L 200,190 A 10,10 0,0,1 190,200 L 10,200 A 10,10 0,0,1 0,190 L 0,60 A 10,10 0,0,1 10,50 Z");
}