.works-container {
    height: 3000px;
    display: flex;
    align-items: center;
}

.works-title {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.works-title h1 {
    height: 295px;
    font-size: 300px;
    font-weight: 800;
}

.works-title h1::selection {
    background-color: #fff;
    color: black;
}

.works-title span {
    font-size: 100px;
}

.works-imgs img {
    width: 780px;
}

.screw-l img {
    width: 580px;
}

.screw-img-container {
    width: 780px;
    height: 500px;
    overflow: hidden;
    display: flex;
    margin: 5px;
    transform: translateY(100px);
    justify-content: center;
    align-items: center;
}

.screw-l {
    margin-top: 200px;
    width: 580px;
    height: 400px;
    overflow: hidden;
    display: flex;
    margin: 65px 65px 200px 65px;
    transform: translateY(200px);
    justify-content: center;
    align-items: center;
}