@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*::selection {
    background-color: #000000;
    color: #F3F3F3;
}

body {
    background-color: #F3F3F3;
    overflow-x: hidden;
    height: 2000px;
}

html {
    cursor: none;
}

a {
    cursor: none;
}

.container {
    max-width: 1870px;
    margin: 0 auto;
    width: 100%;
}

.circa-text-container {
    position: absolute;
    height: 100vh;
    max-width: 1600px;
    width: 100%;
    display: flex;
    top: 0;
    justify-content: center;
    z-index: 1;
    margin: 0 auto;
    overflow: hidden;
}

.circa-text {
    font-size: 450px;
    width: 2400px;
    height: 100vh;
    font-weight: bold;
    line-height: 0.8;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    transform-origin: top;
    pointer-events: none;
    will-change: transform;
    transform: translateY(60px);
    clip-path: polygon(0 0, 100% 1%, 100% 40%, 0 40%);
}

.div {
    padding-bottom: 1000px;
}

span {
    font-family: monospace;
}

@media screen and (max-width: 1600px) {
    .container {
        max-width: 1550px;
    }

    .circa-text {
        font-size: 380px;
        transform: translateY(20px);
    }

    .circa-text-container {
        top: 50px;
    }
}