@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*::selection {
    background-color: #000000;
    color: #F3F3F3;
}

body {
    overflow: hidden;
    height: 10000px;
    background-color: #F3F3F3;
}

html {
    cursor: none;
    background-color: #F3F3F3;
}

a {
    cursor: none;
}

.container {
    max-width: 1890px;
    margin: 0 auto;
    width: 100%;
}

.circa-text-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    top: 0;
    justify-content: center;
    z-index: 1;
    margin: 0 auto;
    overflow: hidden;
    pointer-events: none;
}

.circa-text {
    font-size: 460px;
    width: 3000px;
    height: 100vh;
    font-weight: bold;
    line-height: 0.8;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    transform-origin: top;
    pointer-events: none;
    color: #1a1a1a;
    will-change: transform;
    transform: translateY(60px);
    clip-path: polygon(0 0, 100% 1%, 100% 40%, 0 40%);
}

.div {
    padding-bottom: 1000px;
}

.menu-lines[data-line="true"]~.navigation {
    z-index: -1;
}

.screw-img-container:hover .cursor {
    scale: 4;
}

.work-section {
    height: 3700px;
    display: flex;
    align-items: center;
}

main {
    overflow: hidden;
}

.main-content {
    will-change: transform;
}

@media screen and (max-width: 1600px) {
    .container {
        max-width: 1580px;
    }

    .circa-text {
        font-size: 384px;
        width: 1880px;
        transform: translateY(20px);
    }

    .circa-text-container {
        top: 50px;
    }

    .about-main {
        transform: translateY(-100%);
        width: 800px !important;
        height: 600px !important;
    }
}