@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F3F3F3;
}

html {
    cursor: none;
}

a {
    cursor: none;
}

.container {
    max-width: 1850px;
    margin: 0 auto;
    width: 100%;
}