.cursor {
    position: fixed;
    border-radius: 50%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 9999;
    overflow: hidden;
    pointer-events: none;
    transform-origin: 50% 50%;
    background-color: white;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: background .2s ease-in-out;
}

.circular-text {
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    position: relative;
    height: 200px;
    color: #ffffff;
    height: 200px;
    cursor: none;
    left: -23px;
    top: -23px;
    scale: .8;
    -webkit-transform-origin: 50% 50%;
    transition: all .2s ease-in-out;
}

.circular-text:hover {
    cursor: none;
}

.spannn {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    font-weight: 400;
    color: black;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

.spannn p {
    font-size: 16px;
}

.rotate-arrow {
    font-size: 140px;
    position: absolute;
    top: -1px;
    left: 5px;
    rotate: 180deg;
    z-index: 9999;
    color: #252525;
}