.main-my-goal-container {
    width: 100%;
    height: 400vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    margin-top: 5000px;
    margin-bottom: 3000px;
    border-radius: 30px;
    background-color: #F3F3F3;
}

.my-goal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: sticky;
    top: 0%;
}

.mask,
.main-text-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 100px;
    line-height: 110px;
    padding: 20px;
    text-indent: 9rem;
}

.mask {
    position: absolute;
    mask-image: url('../../assets/Mask.svg');
    background-color: black;
    mask-repeat: no-repeat;
    color: white;
    z-index: 9999;
}