.my-goal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 000px;
}

.mask,
.main-text-mask {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
    line-height: 110px;
    padding: 20px;
    text-indent: 9rem;
}

.mask {
    position: absolute;
    mask-image: url('../../assets/Mask.svg');
    background-color: white;
    mask-repeat: no-repeat;
    mask-position: -500px;
    color: black;
}